.hero {
  padding-top: 60px !important;
}

.hero_content {
  margin-top: 40px;
  margin-bottom: 25px;
}

.hero_content h5 {
  font-weight: 400;
}

.hero_experience {
  width: 150px;
  position: absolute;

  /* right: -5%; */
  padding: 10px 20px;
  border-radius: 5px;
  background: #808dad26;
  z-index: 10;
}
