.skills_container {
  display: flex;
  margin-top: 4rem;
  /* justify-content: center; */
  width: 99.5vw;
  height: 80vh;
  /* background-color: #06092c; */
}

/* .canvas {
  display: flex;
  justify-content: center;
  background-color: #06092c;
} */
